/* comando para reconhecer o idioma latino com as suas acentuações */
@charset "UTF-8";

/* formatação da seção conteúdo */
section#conteudo {
    width: 904px; /* largura da seção conteúdo - OBS: não é a largura da página */
    margin: auto; /* para centralizar automaticamente na página */
}

/* formatação do iframe */
iframe#frame-associacao-membros {
    width: 450px; /* largura do frame */
    height: 450px; /* altura do frame */
    border: none; /* remove a borda */
    overflow: hidden; /* evita a rolagem da página - OBS: não funciona em todos navegadores */
}

/* formtação do iframe por meio do webkit */
iframe#frame-associacao-membros::-webkit-scrollbar {
    display: none; /* ocultar barra lateral de navegação */
}
