/* comando para reconhecer a grafia latina */
@charset "UTF8";

ul#album-fotos {
    width: 700px;
    margin: 0 auto;
    padding: 50px;
    overflow: hidden; /* ocular barra lateral
    ??? A propriedade overflow especifica o que fazer se o conteúdo de um elemento excede o tamanho da caixa do elemento */
    list-style: none; /* remove os pontinhos da lista não-ordenada (bullets) */
}

/* formatação de cada item da lista (ou seja, para cada foto) */
ul#album-fotos li {
    float: left; /* para cada item da lista ficar a esquerda do outro */
    width: 200px; /* largura da foto */
    height: 200px; /* altura da foto */
    margin: 10px; /* espaço entre cada foto */
    border: 5px solid #ffffff; /* espessura e cor da borda de cada foto */
    background-color: #ffffff; /* cor de fundo de cada item da lista (caso a foto não esteja sendo visualizada */
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .4); /* sombreamento ao redor da foto */

    /* ??? EFEITO ASSOCIADO AO EVENTO HOVER DO LI */
    -webkit-transition: all .4s ease-in; /* define o tempo de zoom out definido no evento HOVER do li */
}

/* formatação de cada spam que estão presentes nos itens da lista */
ul#album-fotos li span {
    opacity: 0; /* para ocultar as legendas das fotos */
    color: #ffffff;
    font-size: 9pt;
    text-shadow: 1px 1px 1px #000000; /* cria um sombreamento na legenda */
    background-color: rgba(0, 0, 0, .3);
    line-height: 370px; /* altura da linha --> para colocar a legenda na parte inferior da imagem */
    padding: 5px; /* aumentar o espaçamento interno */
}

/* formatação quando passar o mouse por cima de cada item da lista (as fotos, nesse caso específico) */
ul#album-fotos li:hover {
    -webkit-transform: scale(1.5); /* dá um zoom out em cada item da lista (foto) através da mudança de escala de visualização do item */
}

/* formatação quando passar o mouse por cima de cada item da lista (as fotos, nesse caso específico) --> SÓ QUE O EFEITO SERÁ ATRIBUÍDO AOS ELEMENTOS DENTRO DA TAG SPAN */
ul#album-fotos li:hover span{
    opacity: 1; /* para mostrar as legendas das fotos */
}

ul#album-fotos li#foto01 {
    background: url('../_images/galeria-01.jpg');
    background-position: 50% 50%; /* coloca o zoom da imagem focado na sua parte central */
    background-size: 400px 400px; /* especifica o tamanho ORIGINAL da imagem de fundo */
    background-color: #ffffff; /* define a cor de fundo para branco */
}

/* formatação da foto01 quando passar o mouse sobre ela */
ul#album-fotos li#foto01:hover {
    background-position: 0px 0px; /* coloca o zoom da imagem baseado no lado superior esquerdo dela (zoom default) */
    background-size: 200px 200px; /* reduz o tamanho da imagem pela metade para caber perfeitamente no espaço definido para cada item da lista */
}

ul#album-fotos li#foto02 {
    background: url('../_images/galeria-02.jpg');
    background-position: 50% 50%; /* coloca o zoom da imagem focado na sua parte central */
    background-size: 400px 400px; /* especifica o tamanho ORIGINAL da imagem de fundo */
    background-color: #ffffff; /* define a cor de fundo para branco */
}

/* formatação da foto02 quando passar o mouse sobre ela */
ul#album-fotos li#foto02:hover {
    background-position: 0px 0px; /* coloca o zoom da imagem baseado no lado superior esquerdo dela (zoom default) */
    background-size: 200px 200px; /* reduz o tamanho da imagem pela metade para caber perfeitamente no espaço definido para cada item da lista */
}

ul#album-fotos li#foto03 {
    background: url('../_images/galeria-03.jpg');
    background-position: 50% 50%; /* coloca o zoom da imagem focado na sua parte central */
    background-size: 400px 400px; /* especifica o tamanho ORIGINAL da imagem de fundo */
    background-color: #ffffff; /* define a cor de fundo para branco */
}

/* formatação da foto03 quando passar o mouse sobre ela */
ul#album-fotos li#foto03:hover {
    background-position: 0px 0px; /* coloca o zoom da imagem baseado no lado superior esquerdo dela (zoom default) */
    background-size: 200px 200px; /* reduz o tamanho da imagem pela metade para caber perfeitamente no espaço definido para cada item da lista */
}

ul#album-fotos li#foto04 {
    background: url('../_images/galeria-04.jpg');
    background-position: 50% 50%; /* coloca o zoom da imagem focado na sua parte central */
    background-size: 400px 400px; /* especifica o tamanho ORIGINAL da imagem de fundo */
    background-color: #ffffff; /* define a cor de fundo para branco */
}

/* formatação da foto04 quando passar o mouse sobre ela */
ul#album-fotos li#foto04:hover {
    background-position: 0px 0px; /* coloca o zoom da imagem baseado no lado superior esquerdo dela (zoom default) */
    background-size: 200px 200px; /* reduz o tamanho da imagem pela metade para caber perfeitamente no espaço definido para cada item da lista */
}

ul#album-fotos li#foto05 {
    background: url('../_images/galeria-05.jpg');
    background-position: 50% 50%; /* coloca o zoom da imagem focado na sua parte central */
    background-size: 400px 400px; /* especifica o tamanho ORIGINAL da imagem de fundo */
    background-color: #ffffff; /* define a cor de fundo para branco */
}

/* formatação da foto05 quando passar o mouse sobre ela */
ul#album-fotos li#foto05:hover {
    background-position: 0px 0px; /* coloca o zoom da imagem baseado no lado superior esquerdo dela (zoom default) */
    background-size: 200px 200px; /* reduz o tamanho da imagem pela metade para caber perfeitamente no espaço definido para cada item da lista */
}

ul#album-fotos li#foto06 {
    background: url('../_images/galeria-06.jpg');
    background-position: 50% 50%; /* coloca o zoom da imagem focado na sua parte central */
    background-size: 400px 400px; /* especifica o tamanho ORIGINAL da imagem de fundo */
    background-color: #ffffff; /* define a cor de fundo para branco */
}

/* formatação da foto06 quando passar o mouse sobre ela */
ul#album-fotos li#foto06:hover {
    background-position: 0px 0px; /* coloca o zoom da imagem baseado no lado superior esquerdo dela (zoom default) */
    background-size: 200px 200px; /* reduz o tamanho da imagem pela metade para caber perfeitamente no espaço definido para cada item da lista */
}
