/* comando para reconhecer a grafia latina */
@charset "UTF8";

/* formatação do formulário */
form {
  width: 500px; /* largura do formulário */
  margin: auto; /* para centralizar o formulário */
}

input, textarea {
  font-weight: normal;
  font-size: 13pt;
  background-color: rgba(255, 255, 255, 0.8); /* dá uma transparência aos input */  
}

input:hover, textarea:hover {
  background-color: #dddddd;
}

legend {
  color: #888888;
  font-weight: bold;
  font-size: 13pt;
}

fieldset {
  border-color: #cecece; /* cor da borda do fieldset */
  margin: 20px; /* aumenta o espaço entre os fieldset */
}

fieldset#sexo {
  width: 150px; /* diminui a largura do fieldset com id sexo */
}
